.container {
    background-color: #FBF2E9;
    padding: 30px;
    width: max-content;
    table {
        background-color: #FBF2E9;
        font-size: 30px;
        td,
        th {
            padding: 20px;
        }
    }
}