// .box {
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     user-select: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     font-size: 40px;
//     margin: 5px;
//     border: 5px solid black;
//     cursor: pointer;
// }
.box {
    width: 300px;
    height: 150px;
    background-color: beige;
}

div {
    p {
        padding: 5px;
        font-size: 30px;
    }
}